table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.patient-table th {
    border: 1px solid #dddddd;
    text-align: left;
    height: 15px;
    padding-left: 8px;
    padding-right: 8px;

}

td, tr {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

.arrow-up{
    transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   transition: transform 0.1s linear;
}

.arrow-down{
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   -ms-transform: rotate(90deg);
   transition: transform 0.1s linear;
}