.p-table {
     overflow: scroll !important;
}

.p-table-cell-7 {
    overflow: scroll !important;
}

.p-table-cell {
    height: 10px !important;
    margin: 0px !important;
    backgroundColor: cream !important;
}

.p-table-head {
    backgroundColor: black !important;
    color: white !important;
}

