.p-table {
     border: 1px solid gray;
     overflow: scroll;
     margin: 0px !important;
     padding: 0px !important;
}

.p-table-column {
    padding: 0px 0px 0px 0px !important;
    margin: 0px !important;
}